*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

/* HEADER */
.epcst-address{
    text-align: center;
    padding: 10px;
    font-family: 'DM Serif Text',  sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    gap: 1%;
    font-size: 18px;
}
/* HEADER */

/* NAVIGATION */
.epcstnavigational{
    padding: 10px;
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    gap: 40vh;
    flex-wrap: wrap;
}

.epcst-logo-name h2{
    max-width: 400px;
    font-family: 'DM Serif Text', sans-serif;
    margin-top: 30px;
}

.epcst-logo-name{
    display: flex;
}

.right-side a{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-weight: 700;
    position: relative;
    transition: 0.5s;
    font-size: 18px;
}

.right-side a:hover{
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px 6px 16px 6px;
    border-bottom: 4px solid #208824;
}

.active{
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px 6px 16px 6px;
    border-bottom: 4px solid #208824;
}

.right-side li{
    display: inline;
    margin-right: 20px;
    transition: 0.2s;
    padding-bottom: 20px;
}

.epcst-navigation{
    margin-top: 6%;
    display: flex;
    flex-wrap: wrap;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.sticky + .footer{
    padding-top: 60px;
}

/* NAVIGATIOn */

/* ABOUT BANNER and ABOUT */
.accent-green-line{
    border: 3px solid #50AF36;
    max-width: 0px;
    height: 30px;
    margin-top: 5px;
}

.epcst-about-title{
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    color: #F8F8F8;
    font-weight: 700;
    font-style: italic;
}

.about-container{
    display: flex;
    padding: 300px 0px 80px 200px;
    gap: 1%;
}

.epcst-abt-desc{
    max-width: 800px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-align: justify;
    text-justify: inter-word;
    margin-top: 10px;
}

.glance-title{
    background-color: #208824;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    max-width: 355px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 35px;
    padding-left: 10px;
}

.about-container-2{
    display: flex;
    padding: 40px 0px 0px 0px;
    gap: 10%;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #f1f1f1;
    padding-bottom: 75px;
}

/* ABOUT BANNER and ABOUT*/ 

/* ACCENT COLOR */
.accent-color-green{
    border: 1px solid green;
    margin: 0px 0px 0px 0px;
    padding: 6px;
    background-color: green;
}


.accent-color-black{
    border: 1px solid rgba(0, 0, 0, 0.9);
    background-color: rgba(0, 0, 0, 0.9);
    margin: 0px 0px 10px 0px;
    padding: 6px;
}

.accent-white-line{
    background-color: white;
    margin: 0px 0px 0px 0px;
    padding: 3px;
}
/* ACCENT COLOR */

/* MISSION AND VISION */
.mission-title, .vision-title{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    max-width: 1000px;
    margin-bottom: 20px;
    margin-top: -40px;
}

.mission-desc, .vision-desc{
    max-width: 600px;
    font-family: 'Raleway', sans-serif;
    text-align: justify;
    text-justify: inter-word;
    margin: 0px auto 0px auto;
    margin-bottom: 20px;
    font-size: 18px;
}

.mission-vision-container{
    display: flex;
    justify-content: center;
    gap: 6%;
    background-color: #EDECEC;
    padding-bottom: 40px;
}

.title-color-black{
    background-color: #208824;
    padding: 20px;
}

/* MISSION AND VISION */

/* HYMN */
.epcst-hymn-container h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    background-color: #208824;
    color: white;
    text-align: center;
}

.epcst-hymn-container p{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.epcst-hymn-container{
    background-color: #EDECEC;
}
/* HYMN */

/* FOOTER */
.footer{
    background-color: #208824;
    text-align: center;
}

.footerSchoolName, .epcst-socials, .epcst-end{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: white;
    max-width: 350px;
    margin: 0px auto 0px auto;
    font-weight: 500;
}

.epcst-socials{
    margin-top: 10px;
}

.division-line, .division-line-2{
    border: 1px solid white;
    max-width: 400px; 
    margin: 20px auto 0px auto;
}

.division-line-2{
    margin-top: 100px;
    max-width: 300px;
}

.epcst-socialButtons{
    display: flex;
    justify-content: center;
    gap: 10%;
    margin-top: 15px;
}

.epcst-footer-nav-buttons a{
    text-decoration: none;
    color: #F8F8F8;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: center;
    margin-right: 20px;
}

.epcst-footer-nav-buttons ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5%;
    list-style: none;
    padding:0 7px;
}

.epcst-footer-nav-buttons li{
    position:relative;
}

.epcst-footer-nav{
    margin-top: 20px;
}

ul li:not(:last-child)::after{
    content:""; 
    border:1px solid #e2e2e2;
    border-width: 1px 1px 0 0;
    position:absolute; 
    right:-3px; 
    top:0; 
    height:100%;
}

.epcst-end{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    max-width: 1000px;
}

.end-epcst{
    margin-top: 10px;
}
/* FOOTER */

@media screen and (max-width: 1449px){    
    .right-side li{
        margin-right: 15px;
    }

    .epcstnavigational{
        gap: 12%;
    }

}

@media screen and (max-width: 1259px){
    .right-side li{
        margin-right: 15px;
    }

    .epcstnavigational{
        gap: 10%;
    }
}

@media screen and (max-width: 1239px){
    .epcstnavigational{
        gap: 8%;
    }
}
