*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

/* HEADER */
.epcst-address{
    text-align: center;
    padding: 10px;
    font-family: 'DM Serif Text',  sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    gap: 1%;
    font-size: 18px;
    margin-left: -450px;
    width: 1930px;
}
/* HEADER */

/* NAVIGATION */
.epcstnavigational{
    padding: 10px;
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    gap: 40vh;
    flex-wrap: wrap;
    margin-left: -450px;
    width: 1930px;

}

.epcst-logo-name h2{
    max-width: 400px;
    font-family: 'DM Serif Text', sans-serif;
    margin-top: 30px;
}

.epcst-logo-name{
    display: flex;
}

.right-side a{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-weight: 700;
    position: relative;
    transition: 0.5s;
    font-size: 18px;
}

.right-side a:hover{
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px 6px 16px 6px;
    border-bottom: 4px solid #208824;
}

.active{
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px 6px 16px 6px;
    border-bottom: 4px solid #208824;
}

.right-side li{
    display: inline;
    margin-right: 20px;
    transition: 0.2s;
    padding-bottom: 20px;
}

.epcst-navigation{
    margin-top: 6%;
    display: flex;
    flex-wrap: wrap;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.sticky + .footer{
    padding-top: 60px;
}

/* NAVIGATIOn */

/* ABOUT BANNER and ABOUT */
.accent-green-line{
    border: 3px solid #50AF36;
    max-width: 0px;
    height: 30px;
    margin-top: 5px;
}

.epcst-about-title{
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    color: #F8F8F8;
    font-weight: 700;
    font-style: italic;
}

.about-container{
    display: flex;
    padding: 400px 0px 80px 100px;
    gap: 1%;
    margin-left: -350px;
}

.epcst-abt-desc{
    max-width: 800px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-align: justify;
    text-justify: inter-word;
    margin-top: 10px;
}

.glance-title{
    background-color: #208824;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    max-width: 355px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 35px;
    padding-left: 10px;
}

.about-container-2{
    display: flex;
    padding: 40px 0px 0px 0px;
    gap: 10%;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #f1f1f1;
    padding-bottom: 75px;
}

/* ABOUT BANNER and ABOUT*/ 

/* ACCENT COLOR */
.accent-color-green{
    border: 1px solid green;
    margin: 0px 0px 0px 0px;
    padding: 6px;
    background-color: green;
}


.accent-color-black{
    border: 1px solid rgba(0, 0, 0, 0.9);
    background-color: rgba(0, 0, 0, 0.9);
    margin: 0px 0px 10px 0px;
    padding: 6px;
}

.accent-white-line{
    background-color: white;
    margin: 0px 0px 0px 0px;
    padding: 3px;
}
/* ACCENT COLOR */

/* MISSION AND VISION */
.mission-title, .vision-title{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    max-width: 1000px;
    margin-bottom: 20px;
    margin-top: -40px;
}

.mission-desc, .vision-desc{
    max-width: 600px;
    font-family: 'Raleway', sans-serif;
    text-align: justify;
    text-justify: inter-word;
    margin: 0px auto 0px auto;
    margin-bottom: 20px;
    font-size: 18px;
}

.mission-vision-container{
    display: flex;
    justify-content: center;
    gap: 6%;
    background-color: #EDECEC;
    padding-bottom: 40px;
}

.title-color-black{
    background-color: #208824;
    padding: 20px;
}

/* MISSION AND VISION */

/* HYMN */
.epcst-hymn-container h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    background-color: #208824;
    color: white;
    text-align: center;
}

.epcst-hymn-container p{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.epcst-hymn-container{
    background-color: #EDECEC;
}
/* HYMN */

/* FOOTER */
.footer{
    background-color: #208824;
    text-align: center;
}

.footerSchoolName, .epcst-socials, .epcst-end{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: white;
    max-width: 350px;
    margin: 0px auto 0px auto;
    font-weight: 500;
}

.epcst-socials{
    margin-top: 10px;
}

.division-line, .division-line-2{
    border: 1px solid white;
    max-width: 400px; 
    margin: 20px auto 0px auto;
}

.division-line-2{
    margin-top: 100px;
    max-width: 300px;
}

.epcst-socialButtons{
    display: flex;
    justify-content: center;
    gap: 10%;
    margin-top: 15px;
}

.epcst-footer-nav-buttons a{
    text-decoration: none;
    color: #F8F8F8;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: center;
    margin-right: 20px;
}

.epcst-footer-nav-buttons ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5%;
    list-style: none;
    padding:0 7px;
}

.epcst-footer-nav-buttons li{
    position:relative;
}

.epcst-footer-nav{
    margin-top: 20px;
}

ul li:not(:last-child)::after{
    content:""; 
    border:1px solid #e2e2e2;
    border-width: 1px 1px 0 0;
    position:absolute; 
    right:-3px; 
    top:0; 
    height:100%;
}

.epcst-end{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    max-width: 1000px;
}

.end-epcst{
    margin-top: 10px;
}
.mobileBanner{
    display: none;
}
.epcst-logo-name2{
    display: none;
}
.mob-old-bldg, .greenBarMission, .greenBarVision
, .greenBarHymn{
    display: none;
}

/* FOOTER */

@media screen and (max-width: 1449px){    
    .right-side li{
        margin-right: 15px;
    }

    .epcstnavigational{
        gap: 12%;
    }

}

@media screen and (max-width: 1259px){
    .right-side li{
        margin-right: 15px;
    }

    .epcstnavigational{
        gap: 10%;
    }
}

@media screen and (max-width: 1239px){
    .epcstnavigational{
        gap: 8%;
    }
}
@media only screen and (max-width: 480px){
    .epcst-address, 
    .epcst-navigation, 
    .epcst-logo-name h2, 
    .epcst-navigation,
    .epcstnavigationa,
    .epcst-about-title,
    .accent-white-line,
    .about-container,
    .epcstnavigational{
        display: none;
    }
    .topnav :nth-child(1){
        visibility: hidden;
    }
    
    .mobileBanner{
        height: 700px;
        display: flex;
        
    }
    .topnaver{
        display: inline;
        position: fixed;
        font-family: Montserrat;
        
    }
    .topnaver.responsive {
        width: 885px; 
        background-color: #054708;
        opacity: 0.90;
        overflow: hidden;
        
        
    }
    .topnaver.responsive .icon {
    position: absolute;
    left: 0;
    top: 0;
    color: white;
    margin-left: 440px;
    margin-top: 30px;
    
    }
    .topnaver a:not(:first-child) 
    {
    display: none;
    }
    .topnaver a.icon 
    {
    left: 0;
    display: block;
    
    }
    .topnaver.responsive a {
    float: none;
    display: block;
    text-align: left;
    margin-left: 430px;
    

    }
    
    .topnaver.responsive a:first-child{
        margin-top: 80px;
    }
    .topnaver.responsive a:hover{
        color: white;
        
    }
    .topnaver {
        overflow: hidden;
        margin-right: 410px;
        opacity: 0.95;
        margin-top: -10px;
    }
    .topnaver .icon{
        color: white;
        margin-left: 60px;
        font-size: 45px; 
        margin-top: 10px;
    }
    .topnaver a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 10px 14px;
        text-decoration: none;
        font-weight: 520;
        font-size: 19px;
    }
    
    .topnaver a:hover {
        background-color: #085c13;
        opacity: 0.90;
        
    } 
    .search-icon-mob{
        height: 25px;
        margin-top:  53px;
        margin-left: 300px;
        display: flex;
        cursor: pointer;
        padding: 10px 20px;
        border-radius: 30px;
        align-items: center;
        position: fixed;
        
        
    }
    .epcst-logo-name2{
        display:flex;
        margin-bottom:  -300px;
        margin-left: 155px;
        position: fixed;
        
    }
    .search-icon-mob:hover{
        background: #047417;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
        margin-right: 80px;
    }
    .search-icon-mob:hover input{
        width: 80px;
        left: 0;
        
    }
    .search-icon-mob input{
        width: 0;
        outline: none;
        border: none;
        font-weight: 500;
        transition: 0.6s;
        background: transparent;
        color: white;
        font: 30px;

    }
    .search-icon-mob a .fas{
        font: 40px;
        font-family: Montserrat;
    } 
    .search-icon-mob i{
        font-size: 45px;
        color: white;
    }
    .east-old-bldg{
        display: none;
    }
    .mob-old-bldg{
        display: block;
    }
    .epcst-about-school .aboutText{ 
        width: 250px;
        height: 300px;
        margin-right: 177px;
        
    }
    .aboutText p{
        font-size: 18px;
    }
    .epcst-glance img{
        width: 150px;
        height: 70px;
    }
    .epcst-glance{
        margin-top: -470px;
        margin-left: 270px;
        width: 150px;
    }
    .epcst-glance h2{
        font-size: 24px;
    }
    .epcst-glance ul{
        font-size: 18px;
    }
    .title-color-black{
        width: 400px;
    }

    .mission-vision-container{
        display: block;
        width: 400px;
        margin-top: 50px;
        margin-left: 15px;
        background-color: white;
        
    }
    .mission-desc, .vision-desc{
        font-size: 19px;
        margin-bottom: 100px;
    }
    .title-color, 
    .title-color-black, 
    .accent-color-green,
    .accent-color-black
    {
        display: none;
    }
    .greenBarMission{
        width: 400px;
        background-color: green;
        height: 50px;
        margin-bottom: 15px;
        margin-top: 70px;
        display: block;
    }
    .greenBarMission h2{
        font-size: 24px;
        font-weight: 700;
        padding-top: 7px;
    }
    .greenBarVision{
        width: 400px;
        background-color: green;
        height: 50px;
        margin-bottom: 15px;
        margin-top: 70px;
        display: block;
    }
    .greenBarVision h2{
        font-size: 24px;
        font-weight: 700;
        padding-top: 7px;
    }
    .greenBarHymn{
        width: 400px;
        background-color: green;
        height: 50px;
        margin-bottom: 15px;
        margin-left: 18px;
        display: block;
    }
    .greenBarHymn h1{
        font-size: 24px;
        font-weight: 700;
        padding-top: 7px;
        
    }
    .epcst-hymn-container h2{
        display: none;
    }

    .epcst-hymn-container p{
        text-align: justify;
        text-justify: inter-word;
        padding-left: 20px;
        padding-right: 22px;
        background-color: white;
    }
    .epcst-hymn-container{
        margin-top: 20px;
    }

    .about-container-2{
        background-color: white;
    }
    .qwe{
        background-color: rgba(3, 163, 51, 0.555);
        width: 100%;
        height: 120px;
        /* margin-left: -14px; */
        opacity: 0.20;
        box-shadow: 5px 5px  5px  5px  black;
        position: fixed;

    }
    
      
}
