*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
    overflow-y: scroll;
}


.topnav{
    float: right;
    margin-left: 45%;
    margin-top: 10px;

}
.topnav button{
    border: none;
    border-radius: 50%;
    position: absolute;
    width: 540px;
    height: 60px;
    cursor: pointer;
    background: none;
}

.topnav button:hover i{
    background-color: #bddabe;
    width: 66px;
    height: 40px;
    margin-top: 2px;
    border-radius: 0 40% 40% 0;
}
  
.topnav input[type=text] {
    float: right;
    padding: 15px;
    border: 3px solid black;
    border-radius: 50px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 20px;
    width: 270px;
    height: 10px;
  }

/* HEADER */
.epcst-address{
    text-align: center;
    padding: 10px;
    font-family: Montserrat;
    background-color: rgba(28, 143, 13, 0.87);
    box-shadow: 0px 0px 5px 10px #110505;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 10;

}
/* HEADER */

/* NAVIGATION */
.epcstnavigational{
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100px;
    transition: background-color 0.4s ease;

}
.epcstnavigational.scrolled{
    background-color: #208824;
    height: 150px;
    opacity: 0.95;
}
.epcst-logo-name h2{
    max-width: 320px;
    font-family: 'DM Serif Text', sans-serif;
    color: white;
    margin-top: 30px;
    font-size: 22px;
    font-weight: 300;
}


.epcst-logo-name{
    display: flex;
    justify-content: center;
    

}

.right-side a{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 630;
    margin: 10px;
    position: relative;
    transition: 0.5s;
    font-size: 20px;
}

.right-side a:hover{
    background-color: rgba(28, 143, 13, 0.87);
    padding: 10px 6px 16px 6px;
    border-bottom: 4px solid #208824;
}

.active{
    background-color: rgba(28, 143, 13, 0.87);
    padding: 10px 6px 16px 6px;
    border-bottom: 4px solid #208824;
}

.right-side li{
    display: inline;
    margin-right: 20px;
    transition: 0.2s;
    padding-bottom: 20px;
}

.epcst-navigation{
    margin-left: 50%;
    margin-top: -50px;
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}

.sticky {
    position: fixed;
    top: 0;
    width: 99%;
    z-index: 999;
}

.sticky + .footer{
    padding-top: 60px;
}

/* NAVIGATIOn */

/* BANNER */

/* BANNER */

/* ACCENT COLOR */
.accent-color-green{
    border: 1px solid #208824;
    margin: 10px 0px 10px 0px;
    padding: 6px;
    background-color: #208824;
}

.accent-color-black{
    border: 1px solid rgba(0, 0, 0, 0.9);
    background-color: rgba(0, 0, 0, 0.9);
    margin: -10px 0px 10px 0px;
    padding: 6px;
}
/* ACCENT COLOR */

/* WHAT STUDENT SAY */
.what-student-say{
    background-image: linear-gradient(#208824, #F5F5F5);
    margin-top: -10px;
    padding-bottom: 20px;
}

.student-reacts{
    /* text-align: center; */
    font-family: "Open Sans", sans-serif;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0px 80px 0px 80px;
    padding-bottom: 100px;
}

.stud-rex{
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    text-align: center;
}

.student-reacts h1{
    padding-top: 20px;
    color: #208824;
    font-style: italic;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
}

.kuya-ray, .herlyn{
    background-color: #F8F8F8;
    width: 650px;
    display: flex;
    justify-content: center;
    gap: 4%;
    border-radius: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    margin-top: 20px;
}

.ray-leonard{
    margin-top: 20px;
}

.student-rating{
    margin-top: 40px;
}

.student-review{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    width: 28vw;
}

.student-name{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #208824;
}

.student-ratings{
    display: flex;
    justify-content: center;
    gap: 4%;
    margin-top: 2%;
    flex-wrap: wrap;
}

/* WHAT STUDENT SAY */

/* CHOOSE EPCST */
.choose-epcst{
    background-color: #F5F5F5;
    padding-top: 250px;
    padding-bottom: 180px;
}

.choose-title{
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 60px;
    color: #208824;
}

.choose-epcst article{
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    text-align: justify;
    text-justify: inter-word;
}

.butt-on{
    margin-top: 100px;
    text-align: center;
}

.about-epcst-button{
    background-color: #F5F5F5;
    text-decoration: none;
    color: #208824;
    font-size: 20px;
    padding: 14px 25px;
    border: 2px solid #208824;
    border-radius: 60px;
    font-family: "Raleway", sans-serif;
    transition: 1s;
}

.about-epcst-button:hover{
    background-color: #208824;
    color: white;
}
/* CHOOSE EPCST */

/* NEWS AND EVENTS */
.news-and-events{
    background-color: #e6e6e6;
    padding-bottom: 120px;
}

.news-title{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: #208824;
    text-align: center;
    padding-top: 80px;
}

.latest-news-titlebar{
    background-color: #208824;
    margin-top: 40px;
    padding: 10px;
    display: flex;
    margin-left: 12vw;
    margin-right: 12vw;
}

.latest-news-titlebar h2{
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    color: white;
    margin-left: 20px;
}

.div-events h2{
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 200;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.div-events{
    background-color: #FFFFFF;
    padding: 200px;
    max-width: 50vw;
    display: flex;
    justify-content: center;
    margin: 20px 14vw 5vw 14vw;
}

/* CAROUSEL OF CARDS */
.card-one{
    max-width: 15vw;
    background-color: #FFFFFF;
    padding-bottom: 10vh;
}

.news-cards-container{
    display: flex;
    justify-content: center;
    gap: 2%;
    margin-top: 20px;
}

.card-one a{
    text-decoration: none;
    transition: 0.5s;
}

.card-title h3{
    font-family: "Raleway", sans-serif;
    color: black;
    margin-left: 10px;
    margin-top: 12px;
}

.date-comment{
    font-family: "Open Sans", sans-serif;
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    gap: 0.5%;
    margin-left: 10px;
    font-weight: 300;
    font-size: 12px;
    margin-top: 15px;
}
/* CAROUSEL OF CARDS */

/* NEWS AND EVENTS */

/* FOOTER */
.footer{
    background-color: #208824;
    text-align: center;
}

.footerSchoolName, .epcst-socials, .epcst-end{
    font-family: 'DM Serif Text', sans-serif;
    font-size: 20px;
    color: white;
    max-width: 350px;
    margin: 0px auto 0px auto;
}

.epcst-socials{
    margin-top: 10px;
}

.division-line, .division-line-2{
    border: 1px solid white;
    max-width: 400px; 
    margin: 20px auto 0px auto;
}

.division-line-2{
    margin-top: 100px;
    max-width: 300px;
}

.epcst-socialButtons{
    display: flex;
    justify-content: center;
    gap: 10%;
    margin-top: 15px;
}

.epcst-footer-nav-buttons a{
    text-decoration: none;
    color: #F8F8F8;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: center;
    margin-right: 20px;
}

.epcst-footer-nav-buttons ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5%;
    list-style: none;
    padding:0 7px;
}

.epcst-footer-nav-buttons li{
    position:relative;
}

.epcst-footer-nav{
    margin-top: 20px;
}

ul li:not(:last-child)::after{
    content:""; 
    border:1px solid #e2e2e2;
    border-width: 1px 1px 0 0;
    position:absolute; 
    right:-3px; 
    top:0; 
    height:100%;
}

.epcst-end{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    max-width: 1000px;
}

.end-epcst{
    margin-top: 10px;
}
/* FOOTER */



/* CAROUSEL */

/* CAROUSEL */

@media screen and (max-width: 1449px){    
    .right-side li{
        margin-right: 15px;
    }

    .epcstnavigational{
        gap: 12%;
    }

}

@media screen and (max-width: 1259px){
    .right-side li{
        margin-right: 15px;
    }

    .epcstnavigational{
        gap: 10%;
    }
}

@media screen and (max-width: 1239px){
    .epcstnavigational{
        gap: 8%;
    }
}
