*{
    padding: 0;
    margin: 0;
}

body{
    overflow-x: hidden;
}

/* HEADER */
.epcst-address{
    text-align: center;
    padding: 10px;
    font-family: 'DM Serif Text',  sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    gap: 1%;
    font-size: 18px;
}
/* HEADER */

/* NAVIGATION */
.epcstnavigational{
    padding: 10px;
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    gap: 40vh;
    flex-wrap: wrap;
}

.epcst-logo-name h2{
    max-width: 400px;
    font-family: 'DM Serif Text', sans-serif;
    margin-top: 30px;
}

.epcst-logo-name{
    display: flex;
}

.right-side a{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-weight: 700;
    position: relative;
    transition: 0.5s;
    font-size: 18px;
}

.right-side a:hover{
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px 6px 16px 6px;
    border-bottom: 4px solid #208824;
}

.active{
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px 6px 16px 6px;
    border-bottom: 4px solid #208824;
}

.right-side li{
    display: inline;
    margin-right: 20px;
    transition: 0.2s;
    padding-bottom: 20px;
}

.epcst-navigation{
    margin-top: 6%;
    display: flex;
    flex-wrap: wrap;
}

.sticky {
    position: fixed;
    top: 0;
    width: 99%;
    z-index: 999;
}

.sticky + .footer{
    padding-top: 60px;
}

/* NAVIGATIOn */

/* NEWS */
.accent-green-line{
    border: 3px solid #50AF36;
    max-width: 0px;
    height: 30px;
    margin-top: 5px;
}

.epcst-newsevents-title{
    font-family: 'DM Serif Text', sans-serif;
    font-size: 35px;
    color: #F8F8F8;
    font-weight: 400;
}

.newsevents-container{
    display: flex;
    padding: 300px 0px 80px 200px;
    gap: 1%;
}
/* NEWS */

/* NEWS AND EVENTS */
.news-tile h4, .news-tile h2{
    font-family: 'Open Sans', sans-serif;
}

.news-tile h4{
    font-weight: 400;
    text-align: justify;
    text-justify: inter-word;
    max-width: 250px;
    margin-bottom: 40px;
}

.news-tile h2{
    max-width: 300px;
    margin-bottom: 20px;
}

.news-tile p{
    margin-top: 40px;
    font-family: 'Open Sans', sans-serif;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
}

.news-sub-container{
    display: flex;
    justify-content: center;
    margin: 20px 0px 50px 0px;
    gap: 5%;
    flex-wrap: wrap;
}

.date-and-comment li{
    font-family: 'Open Sans', sans-serif;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
    padding-top: 40px;
}

.date-and-comment{
    display: flex;
    gap: 5%;
}

.epcst-readmore-button {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.9);
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

.epcst-readmore-button:hover{
    text-decoration: underline;
}

.news-tile{
    margin-top: 40px;
}
/* NEWS AND EVENTS */

/* ACCENT COLOR */
.accent-color-green{
    border: 1px solid green;
    margin: 10px 0px 10px 0px;
    padding: 6px;
    background-color: green;
}

.accent-color-black{
    border: 1px solid rgba(0, 0, 0, 0.9);
    background-color: rgba(0, 0, 0, 0.9);
    margin: -10px 0px 10px 0px;
    padding: 6px;
}
/* ACCENT COLOR */

/* FOOTER */

.footer{
    background-color: #208824;
    text-align: center;
}

.footerSchoolName, .epcst-socials, .epcst-end{
    font-family: 'DM Serif Text', sans-serif;
    font-size: 20px;
    color: white;
    max-width: 350px;
    margin: 0px auto 0px auto;
}

.epcst-socials{
    margin-top: 10px;
}

.division-line, .division-line-2{
    border: 1px solid white;
    max-width: 400px; 
    margin: 20px auto 0px auto;
}

.division-line-2{
    margin-top: 100px;
    max-width: 300px;
}

.epcst-socialButtons{
    display: flex;
    justify-content: center;
    gap: 10%;
    margin-top: 15px;
}

.epcst-footer-nav-buttons a{
    text-decoration: none;
    color: #F8F8F8;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: center;
    margin-right: 20px;
}

.epcst-footer-nav-buttons ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5%;
    list-style: none;
    padding:0 7px;
}

.epcst-footer-nav-buttons li{
    position:relative;
}

.epcst-footer-nav{
    margin-top: 20px;
}

ul li:not(:last-child)::after{
    content:""; 
    border:1px solid #e2e2e2;
    border-width: 1px 1px 0 0;
    position:absolute; 
    right:-3px; 
    top:0; 
    height:100%;
}

.epcst-end{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    max-width: 1000px;
}

.end-epcst{
    margin-top: 10px;
}

@media screen and (max-width: 1449px){    
    .right-side li{
        margin-right: 15px;
    }

    .epcstnavigational{
        gap: 12%;
    }

}

@media screen and (max-width: 1259px){
    .right-side li{
        margin-right: 15px;
    }

    .epcstnavigational{
        gap: 10%;
    }
}

@media screen and (max-width: 1239px){
    .epcstnavigational{
        gap: 8%;
    }
}
