*{
    padding: 0;
    margin: 0;
}

body{
    overflow-x: hidden;
}

/* HEADER */
.epcst-address{
    text-align: center;
    padding: 10px;
    font-family: 'DM Serif Text',  sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    gap: 1%;
    font-size: 18px;
}
/* HEADER */

/* NAVIGATION */
.epcstnavigational{
    padding: 10px;
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    gap: 55vh;
    flex-wrap: wrap;
}

.epcst-logo-name h2{
    max-width: 400px;
    font-family: 'DM Serif Text', sans-serif;
    margin-top: 30px;
}

.epcst-logo-name{
    display: flex;
}

.right-side a{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-weight: 700;
    position: relative;
    transition: 0.5s;
    font-size: 18px;
}

.right-side a:hover{
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px 6px 16px 6px;
    border-bottom: 4px solid #208824;
}

.active{
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px 6px 16px 6px;
    border-bottom: 4px solid #208824;
}

.right-side li{
    display: inline;
    margin-right: 40px;
    transition: 0.2s;
    padding-bottom: 20px;
}

.epcst-navigation{
    margin-top: 6%;
    display: flex;
    flex-wrap: wrap;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.sticky + .footer{
    padding-top: 60px;
}

/* NAVIGATIOn */

/* PROGRAMS */
.accent-green-line{
    border: 3px solid #50AF36;
    max-width: 0px;
    height: 30px;
    margin-top: 5px;
}

.epcst-programs-title{
    font-family: 'DM Serif Text', sans-serif;
    font-size: 35px;
    color: #F8F8F8;
    font-weight: 400;
}

.programs-container{
    display: flex;
    padding: 300px 0px 80px 200px;
    gap: 1%;
}
/* PROGRAMS */

/* CHED and Tesda Courses */
.ched-title, .tesda-title{
    padding-top: 7.5%;
    font-family: "DM Serif Text", sans-serif;
}

.ched-vanity-line, .tesda-vanity-line{
    border: 3px solid rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    max-width: 50px;
}

.ched-title-2, .tesda-title-2{
    background-color: #208824;
    color: white;
    font-family: 'DM Serif Text', sans-serif;
    font-weight: 400;
    max-width: 355px;
    margin-top: 80px;
    margin-bottom: 10px;
    font-size: 35px;
    padding-left: 10px;
}

ul.ched-list, ul.tesda-list {
    list-style-type: decimal;
    margin-left: 20px;
    max-width:  345px;
    text-align: justify;
    text-justify: inter-word;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.epcst-ched-courses-container, .epcst-tesda-courses {
    display: flex;
    justify-content: center;
    gap: 10%;
    background-color: #EDECEC;
    padding-bottom: 80px;
    flex-wrap: wrap;
}

.ched-pic{
    max-width: 100%;
    height: auto;
}
/* CHED and Tesda Courses */


/* ACCENT COLOR */
.accent-color-green{
    border: 1px solid green;
    margin: 10px 0px 0px 0px;
    padding: 6px;
    background-color: green;
}


.accent-color-black{
    border: 1px solid rgba(0, 0, 0, 0.9);
    background-color: rgba(0, 0, 0, 0.9);
    margin: 0px 0px 10px 0px;
    padding: 6px;
}

/* ACCENT COLOR */

/* FOOTER */
.footer{
    background-color: #208824;
    text-align: center;
}

.footerSchoolName, .epcst-socials, .epcst-end{
    font-family: 'DM Serif Text', sans-serif;
    font-size: 20px;
    color: white;
    max-width: 350px;
    margin: 0px auto 0px auto;
}

.epcst-socials{
    margin-top: 10px;
}

.division-line, .division-line-2{
    border: 1px solid white;
    max-width: 400px; 
    margin: 20px auto 0px auto;
}

.division-line-2{
    margin-top: 100px;
    max-width: 300px;
}

.epcst-socialButtons{
    display: flex;
    justify-content: center;
    gap: 10%;
    margin-top: 15px;
}

.epcst-footer-nav-buttons a{
    text-decoration: none;
    color: #F8F8F8;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: center;
    margin-right: 20px;
}

.epcst-footer-nav-buttons ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5%;
    list-style: none;
    padding:0 7px;
}

.epcst-footer-nav-buttons li{
    position:relative;
}

.epcst-footer-nav{
    margin-top: 20px;
}

ul li:not(:last-child)::after{
    content:""; 
    border:1px solid #e2e2e2;
    border-width: 1px 1px 0 0;
    position:absolute; 
    right:-3px; 
    top:0; 
    height:100%;
}

.epcst-end{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    max-width: 1000px;
}

.end-epcst{
    margin-top: 10px;
}
/* FOOTER */